@import "bootstrap";


.container-listings {
  background-color: #1a1c21;
}

.navbar-default {
  background-color: #1a1c21;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #3516ff;
  font-size: 32px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.center {
  text-align: center;
}

.col-md-2:nth-child(6n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
    color: #ffffff;

  }
  h5 {
    font-size: 25px;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    color: #ffffff;
  }
}

.col-md-8 {
  h3 {
    font-size: 45px;
    color: #020202;

  }
  h5 {
    font-size: 25px;
    color: #020202;
  }
  p {
    font-size: 18px;
    color: #020202;
  }
}

.col-md-12{
  margin-bottom: 13px;
} 
.brand-text{
    h1 {
    font-size: 30px;
    color: white;
    padding-left: 10px;
  }
}

.title-text{
    h1 {
    font-size: 30px;
    color: white;
    padding-left: 10px;
  }
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}
.jumbotron{
  background-image: url('https://dl.dropboxusercontent.com/s/q2ir9jx7z00b3q9/banner2.jpg');
  h1{
    font-family: guardian-egyptt,georgia,serif;
    color: white;
  }
}
.jumbotron-post{
    width:100%;
    height: 140px;
    background-color:#f39c12;
    padding:0px;
    margin-bottom:5px;
    opacity: 0.7;
    text-align: center;
}

.table{
  background-color: #707275;
}

.panel-default{
  height: 10px;
   h3{
    font-family: guardian-egyptt,georgia,serif;
    color: white;
  }
}











